@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-register {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 65vh;
  justify-content: center;
  width: 100vw;
}

.form-register {
  background-color: #e5e5e5;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 400px;
  height: auto;
}

.form-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.input-general {
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-general {
  margin-top: 15px;
}

.message-error {
  color: firebrick;
  height: 20px;
  margin-top: 10px;
}

.principal-title {
  margin-top: 25px;
}

.navbar-item img {
  max-height: 4rem;
}

.brand {
  width: 250px;
}

.user-email, h3 {
  margin-right: 20px;
  margin-left: 15px;
  margin-top: -10px;
}

.btn-add-cart {
  margin-top: 10px;
  margin-bottom: 15px
};

.delete {
  background-color: rgb(243 7 7 / 20%);
  margin-left: 20px;
  margin-top: 14px;
}

.delete:hover {
  background-color: salmon;
}

.content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.content, h3 {
  margin-top: 10px;
}

.modal-card-body {
  margin: auto;
  height: auto;
}

.product-name {
  margin-top: 10px;
}

.cart-image {
  display: flex;
  justify-content: center;
}

.shop-cart-image, img {
  width: 80px;
}

.shop-cart-icon-content {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 50px;
}

.icon-cart {
  width: 100px;
}

.cart-number {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 16px;
  margin-top: -8px;
}


.cart-container {
  display: flex;
  justify-content: center;
}

.shop-cart-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 320px;
  max-width: 60%;
  margin-top: 20px;
}

.shop-cart-all-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shop-cart-products {
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}
